/* დაიწყო header */
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #DDEAF8;
}
header{
    width: 100%;
    padding: 55px 98px;
    max-width: 1440px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}
.box1{
    border: 3px solid #27187F;
    border-radius: 10px;
    width: 221px;
    height: 55px;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    align-items: center;
}
.fa-magnifying-glass{
    color: #758BFD;
    font-size: 40px;
}

/* დაიწყო კონტენტი */

section{
    width: 90%;
    margin: 95px auto 135px auto;
}
h1{
    margin-bottom: 68px;
    color: #27187F;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 717px;
    align-content: space-between;
}
.card{
    width: 30%;
    height: 333px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card_img{
    width: 87.5%;
    height: 188px;
}
.card_text{
    width: 90%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
/* დაიწყო footer  */
footer{
    background-color: #758BFD;
    width: 100%;
    max-width: 1440px;
    height: 504px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 104px;
}
.footer1{
    width: 100%;
    max-width: 1244px;
    height: 202px;
    display: flex;
    justify-content: space-between;
}
.footer_list_contact{
    width: 122px;
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
h2{
    color: #00CAD7;
    font-size: 20px;
    font-family: 'Urbanist', sans-serif;
}
.contact_mail{

}
.mail{
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
}
.social_icons{
    width: 121px;
    display: flex;
    justify-content: space-between;
}
.fa-facebook-f{
    color: white;
}
.fa-twitter{
    color: white; 
}
.fa-linkedin-in{
    color: white; 
}
.fa-instagram{
    color: white; 
}
.footer_list_trending{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
h3{
    color: #00CAD7;
    font-size: 20px;
    font-family: 'Urbanist', sans-serif;
}
.trending{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
p{
    font-size: 13px;
    color: white;
    font-family: 'Urbanist', sans-serif;
}
.footer_list_information{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.information{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_list_costumercare{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.costumercare{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.visacards{
    width: 1244px;
    height: 55px;
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: flex-start;
    justify-content: flex-end;
}